:root {
    --bg: white;
    --text: #000;
    --display-bg: #e7e7e7;
    --button-bg: #ececec;
    --top-border-bg: #f5f5f5;
    --top-border-button-bg: #e9e9e9;
}

.dark {
    --bg: #1a1a1a;
    --text: #fff;
    --display-bg: #424242;
    --button-bg: #b4b4b4;
    --top-border-bg: #424242;
    --top-border-button-bg: #383838;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

.top-border {
    background-color: var(--top-border-bg);
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
} 

.top-border button {
    padding: 20px;
    font-size: 18px;
    border: none;
    width: auto;
    border-radius: 5px;
    justify-self: end;
    background-color: var(--top-border-button-bg);
    color:  var(--text);
    cursor: pointer;
    touch-action: manipulation;
}

.calculator {
    width: 300px;
    margin: 40px auto;
    font-family: Arial;
}

#display {
    background: var(--display-bg);
    color: var(--text);
    padding: 20px;
    font-size: 24px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.buttons button{
    padding: 20px;
    font-size: 18px;
    border: none;
    background-color: #ececec;
    border-radius: 5px;
    cursor: pointer;
    touch-action: manipulation;
}

button:active {
    background: #ccc;
}