:root {
    --bg: white;
    --text: #000;
    --button-bg: #ececec;
    --top-border-bg: #f5f5f5;
    --top-border-button-bg: #e9e9e9;
    --button-active-bg: #ccc;
}

.dark {
    --bg: #1a1a1a;
    --text: #fff;
    --button-bg: #b4b4b4;
    --top-border-bg: #424242;
    --top-border-button-bg: #303030;
    --button-active-bg: #4e4e4e;
}

* {
    transition: background-color .2s, color .2s;
}


body {
    background-color: var(--bg);
    color: var(--text);
}

.header {
    background-color: var(--top-border-bg);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
} 

.header-buttons {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px;
}
.header-buttons button {
    flex: 1;
    width: 100px;  
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(300px);
}

.start button {
    background-color: var(--top-border-button-bg);
    color:  var(--text);
}

button {
    background-color: var(--top-border-button-bg);
    color:  var(--text);
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    touch-action: manipulation;
}

button:active {
    background-color: var(--button-active-bg);
}
button:hover {
    filter: brightness(0.95);
}


@media (max-width: 600px) {
    .calculator {
        width: 100%;
        max-width: 450px;
        margin: 20px auto;
    }

    .display {
        font-size: 32px;
        padding: 25px;
    }

    .buttons button {
        padding: 25px;
        font-size: 20px;
    }

    .header {
        padding: 15px;
    }

    .header-buttons {
        grid-template-columns: repeat(1, 1fr);
    }
}
