.dark {
    background-color: #1a1a1a;
    color: white;
}

.top-border {
    background: #f5f5f5;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
} 

.top-border button {
    padding: 20px;
    font-size: 18px;
    border: none;
    width: auto;
    border-radius: 5px;
    justify-self: end;
    background: #ececec;
    cursor: pointer;
    touch-action: manipulation;
}

.calculator {
    width: 300px;
    margin: 40px auto;
    font-family: Arial;
}

#display {
    background: #222;
    color: white;
    padding: 20px;
    font-size: 24px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.buttons button{
    padding: 20px;
    font-size: 18px;
    border: none;
    background: #ececec;
    border-radius: 5px;
    cursor: pointer;
    touch-action: manipulation;
}

button:active {
    background: #ccc;
}