.dark {
    background-color: #1a1a1a;
    color: white;
}
.dark #display{
    background-color: #424242;
    color: white;
}
.dark .buttons button{
    background-color: #b4b4b4;
}
.dark .top-border {
    background-color: #424242;  
}
.dark .top-border button {
    background-color: #2c2c2c;
    color: white;
}
.top-border {
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
} 

.top-border button {
    padding: 20px;
    font-size: 18px;
    border: none;
    width: auto;
    border-radius: 5px;
    justify-self: end;
    background-color: #ececec;
    cursor: pointer;
    touch-action: manipulation;
}

.calculator {
    width: 300px;
    margin: 40px auto;
    font-family: Arial;
}

#display {
    background: #e7e7e7;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 24px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.buttons button{
    padding: 20px;
    font-size: 18px;
    border: none;
    background-color: #ececec;
    border-radius: 5px;
    cursor: pointer;
    touch-action: manipulation;
}

button:active {
    background: #ccc;
}