.calculator {
    width: 300px;
    margin: 40px auto;
    font-family: Arial;
}

#display {
    background: #222;
    color: white;
    padding: 20px;
    font-size: 24px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    background: #eee;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    background: #ccc;
}